<h1>Xoá sacsh</h1>
<form [formGroup]="bookForm" (ngSubmit)="deleteProduct(id)">
  <table>
    <tr hidden>
      <td>Mã sách:</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Tên sách:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Tác giả:</td>
      <td><input type="text" formControlName="author"></td>
    </tr>
    <tr>
      <td>Mô tả:</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Xoá</button></td>
    </tr>
  </table>
</form>
